/*

662B00
EA8A46

E66000

663C1F
B34A00

008C99
00D2E6
*/

@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');


body {
    background-color: #DDD;
    color: #000;
    font-family: "Hepta Slab";
}

.container {
    background-color: #FFF;
    margin: auto;
    margin-top: 5mm;
    width: 80%;
    padding: 10mm;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

tbody tr:nth-child(even) {
    background-color: #EEE;
}

th {
    border-bottom: 5px solid black;
}
td {
}

.red {
    background-color: #E66000;
}
.black {
    background-color: #00D2E6;
}
