{% extends "base" %}
{% block content %}
<h3>Users</h3>

{% include "form" %}

<br>


<ul>
{% for user in users %}
<li>{{user.username}} : <span class="{% if user.balance > 0.0 %}black{% else %}red{% endif %}">{{user.balance}}</span></li>
{% endfor %}
</ul>
{% endblock content %}
